<style>
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h5, h6 {
    color: #43C59E;
    font-family: 'Montserrat', sans-serif;
}

.navlink {
    text-decoration: none;
    padding: 1em;
    background: #43C59E;
    color: #fff;
    font-size: 2em;
    display: inline-block;
    margin-bottom: 1em;
}

/* FEATURE */
#featured {
    background: #3DFAFF;
    position: fixed;
    padding: 1em 1em 1em .5em;
    bottom: 0;
    left: 0;
}

#featured>a {
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
    font-size: 1.8em; 
}

/* HEADER */
header {
    background-image: url('https://static.pexels.com/photos/541518/pexels-photo-541518.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

h1 {
    padding-top: 1.5em;
    font-size: 7em;
    color: #43C59E;
    text-align: center;
}

h4 {
    color: #14453D;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5em;
    padding-right: 100px;
}

/* ARTICLES */
#articles {
    padding: 0 4em 2em 0;
    max-width: 600px;
    margin: 0 auto;
}

.article {
    padding-bottom: 4em;
}


h3 {
    font-size: 3.7em;
    padding: .3em;
    margin-bottom: .3em;
    color: #fff;
    background-position: center;
    background-color: #3DFAFF;
    background-blend-mode: multiply;
}

p {
    font-size: 1.1em;
    letter-spacing: 1.1px;
    line-height: 1.35em;
}

#NewYork {
    background-image: url('https://images.pexels.com/photos/290386/pexels-photo-290386.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

#Paris {
    background-image: url('https://images.pexels.com/photos/149522/pexels-photo-149522.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

#Rome {
    background-image: url('https://images.pexels.com/photos/10922/pexels-photo-10922.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

#London {
    background-image: url('https://images.pexels.com/photos/50632/pexels-photo-50632.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}

#Berlin {
    background-image: url('https://images.pexels.com/photos/86456/berlin-reichstag-government-glass-dome-86456.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
}


/* FOOTER */
footer {
    background: #202020;
    margin: 0 auto;
    text-align: center;
}

h5 {
    color: #efefef;
    padding: 1em;
    font-size: 3em; 
}

h5:nth-of-type(2) {
    background: #14453D; 
}    
</style>




        <header>
            <h1>HURRRAY</h1>
            <h4>The very best of all demo sites...</h4>
        </header>

        <section id="articles">
            <%= link_to 'About', about_path, :class => "navlink" %>
            <%= link_to 'Alpha-Blog', articles_path, :class => "navlink" %>
            <div class="article">
                <h3 id="Berlin">Berlin</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae atque, quaerat dolore voluptatum error nisi voluptatem commodi consequatur explicabo consectetur. Tenetur alias numquam praesentium laborum. Expedita architecto quidem consequatur magni quaerat earum in, et rem at fuga voluptatem quibusdam deserunt inventore, eveniet quisquam enim? Voluptatum nisi dolores accusamus sapiente, optio incidunt, fugiat cumque illo sunt nam! Eaque officiis expedita in neque laboriosam quasi incidunt nemo aspernatur, quidem nobis repellendus, temporibus. Exercitationem placeat, natus. Eos reiciendis dignissimos odit sapiente saepe. Sed adipisci doloribus quia quos assumenda rerum, quod recusandae autem minus illum. Reprehenderit labore, ipsum distinctio reiciendis et aliquid quam eius placeat veniam quia, quasi laborum qui, voluptates maiores sapiente nisi blanditiis earum a necessitatibus sed minus modi ad. Saepe, cumque quia labore, praesentium sequi modi eligendi, voluptatem minima quas cum quis tempore temporibus. Impedit sint quos nam facilis vero praesentium, quaerat obcaecati, sequi, provident eligendi aut ex. Ex maiores possimus, dolores ipsa, voluptatem placeat! Accusamus corrupti ipsa dicta quaerat, hic in deserunt aliquid repellat vero labore possimus suscipit, obcaecati quasi ut magni nesciunt minima libero. Veritatis excepturi odio nisi. Explicabo voluptas tempore deleniti impedit, numquam quia architecto obcaecati maxime reprehenderit error perspiciatis, ipsum dicta nam qui voluptate quos dignissimos.</p>
            </div>
            <div class="article">
                <h3 id="NewYork">New York</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae atque, quaerat dolore voluptatum error nisi voluptatem commodi consequatur explicabo consectetur. Tenetur alias numquam praesentium laborum. Expedita architecto quidem consequatur magni quaerat earum in, et rem at fuga voluptatem quibusdam deserunt inventore, eveniet quisquam enim? Voluptatum nisi dolores accusamus sapiente, optio incidunt, fugiat cumque illo sunt nam! Eaque officiis expedita in neque laboriosam quasi incidunt nemo aspernatur, quidem nobis repellendus, temporibus. Exercitationem placeat, natus. Eos reiciendis dignissimos odit sapiente saepe. Sed adipisci doloribus quia quos assumenda rerum, quod recusandae autem minus illum. Reprehenderit labore, ipsum distinctio reiciendis et aliquid quam eius placeat veniam quia, quasi laborum qui, voluptates maiores sapiente nisi blanditiis earum a necessitatibus sed minus modi ad. Saepe, cumque quia labore, praesentium sequi modi eligendi, voluptatem minima quas cum quis tempore temporibus. Impedit sint quos nam facilis vero praesentium, quaerat obcaecati, sequi, provident eligendi aut ex. Ex maiores possimus, dolores ipsa, voluptatem placeat! Accusamus corrupti ipsa dicta quaerat, hic in deserunt aliquid repellat vero labore possimus suscipit, obcaecati quasi ut magni nesciunt minima libero. Veritatis excepturi odio nisi. Explicabo voluptas tempore deleniti impedit, numquam quia architecto obcaecati maxime reprehenderit error perspiciatis, ipsum dicta nam qui voluptate quos dignissimos.</p>
            </div>
            <div class="article">
                <h3 id="Rome">Rome</h3>
                <p>Lorem ipsum <em>dolor</em> sit amet, consectetur adipisicing elit. Assumenda voluptas adipisci, deleniti, laudantium ratione mollitia quam facere ex. Ab, voluptatum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora impedit quidem harum iure expedita nisi autem mollitia voluptatum culpa unde sunt, qui, ut voluptatem a vel cumque eligendi nesciunt sed facere quibusdam perferendis! Soluta qui omnis reiciendis perferendis ipsam. Porro maiores nostrum eaque, unde, nobis placeat impedit rem iusto aperiam eveniet aliquid suscipit aliquam, quis pariatur quidem est dolor cum facere ullam excepturi quasi. Voluptatem repellat numquam possimus, ipsa modi ad nemo quaerat temporibus consequatur beatae, eum dolorum eligendi amet eveniet tempora sapiente dolores, iure ullam quidem ducimus. Quos modi accusamus autem vero consequuntur eligendi consequatur porro, fugiat! Non velit saepe assumenda, facere, doloribus eum eaque amet aspernatur suscipit iure quibusdam fugiat sit, voluptatum voluptas nihil aliquam dicta impedit natus, possimus alias sed adipisci quisquam. Similique, culpa. Earum error autem pariatur porro sapiente fugiat quia harum, veniam minima tenetur dolores quis aliquam, voluptatibus. Reprehenderit commodi non consequuntur omnis expedita officia iusto laboriosam voluptatibus aspernatur, officiis maxime ducimus a odit nemo adipisci, quia cupiditate fugiat laborum! Ut inventore beatae quam enim reprehenderit dolores, a quia facere ducimus deleniti, tempora atque eveniet hic aliquid accusantium repudiandae. Laudantium qui explicabo est, dolorem quae ducimus cum eius magni ipsum quam perspiciatis ipsam, fugiat odit totam expedita? Sit, doloribus. Maiores neque cupiditate obcaecati nostrum molestias mollitia labore expedita esse quos dolores pariatur temporibus in ea quibusdam, impedit rerum iusto, similique eaque natus asperiores! Assumenda omnis voluptas quas totam sapiente, quasi aspernatur rerum cumque, aliquam odio unde tempora consectetur magni quidem similique quo, exercitationem numquam, obcaecati nulla! Ducimus inventore ab molestiae nobis culpa tempora aliquid unde quos corporis, odit maiores, quasi eaque harum dignissimos vel beatae ipsum, nostrum velit odio reprehenderit, soluta alias et. Voluptatem sed autem fugiat earum, accusamus officiis. Recusandae corrupti tempora commodi quae aliquid quas, nulla placeat inventore et saepe laudantium earum magnam!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime fuga velit amet voluptatum facere qui fugit tempore. Odit iste, delectus, facilis fuga eum ad aut. Nulla excepturi vero, reiciendis, illo quisquam maiores quia repellat vitae ipsa distinctio, qui tenetur sit eius porro veniam consequatur voluptatum corporis totam, laborum. Dolorum suscipit minima debitis voluptatem libero laborum temporibus eveniet mollitia harum sapiente. Cumque rem aspernatur perferendis soluta eaque magni cum dolor sint.</p>
            </div>
            
            <div class="article">
                <h3 id="Paris">Paris</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae atque, quaerat dolore voluptatum error nisi voluptatem commodi consequatur explicabo consectetur. Tenetur alias numquam praesentium laborum. Expedita architecto quidem consequatur magni quaerat earum in, et rem at fuga voluptatem quibusdam deserunt inventore, eveniet quisquam enim? Voluptatum nisi dolores accusamus sapiente, optio incidunt, fugiat cumque illo sunt nam! Eaque officiis expedita in neque laboriosam quasi incidunt nemo aspernatur, quidem nobis repellendus, temporibus. Exercitationem placeat, natus. Eos reiciendis dignissimos odit sapiente saepe. Sed adipisci doloribus quia quos assumenda rerum, quod recusandae autem minus illum. Reprehenderit labore, ipsum distinctio reiciendis et aliquid quam eius placeat veniam quia, quasi laborum qui, voluptates maiores sapiente nisi blanditiis earum a necessitatibus sed minus modi ad. Saepe, cumque quia labore, praesentium sequi modi eligendi, voluptatem minima quas cum quis tempore temporibus. Impedit sint quos nam facilis vero praesentium, quaerat obcaecati, sequi, provident eligendi aut ex. Ex maiores possimus, dolores ipsa, voluptatem placeat! Accusamus corrupti ipsa dicta quaerat, hic in deserunt aliquid repellat vero labore possimus suscipit, obcaecati quasi ut magni nesciunt minima libero. Veritatis excepturi odio nisi. Explicabo voluptas tempore deleniti impedit, numquam quia architecto obcaecati maxime reprehenderit error perspiciatis, ipsum dicta nam qui voluptate quos dignissimos.</p>
            </div>
            <div class="article">
                <h3 id="London">London</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae atque, quaerat dolore voluptatum error nisi voluptatem commodi consequatur explicabo consectetur. Tenetur alias numquam praesentium laborum. Expedita architecto quidem consequatur magni quaerat earum in, et rem at fuga voluptatem quibusdam deserunt inventore, eveniet quisquam enim? Voluptatum nisi dolores accusamus sapiente, optio incidunt, fugiat cumque illo sunt nam! Eaque officiis expedita in neque laboriosam quasi incidunt nemo aspernatur, quidem nobis repellendus, temporibus. Exercitationem placeat, natus. Eos reiciendis dignissimos odit sapiente saepe. Sed adipisci doloribus quia quos assumenda rerum, quod recusandae autem minus illum. Reprehenderit labore, ipsum distinctio reiciendis et aliquid quam eius placeat veniam quia, quasi laborum qui, voluptates maiores sapiente nisi blanditiis earum a necessitatibus sed minus modi ad. Saepe, cumque quia labore, praesentium sequi modi eligendi, voluptatem minima quas cum quis tempore temporibus. Impedit sint quos nam facilis vero praesentium, quaerat obcaecati, sequi, provident eligendi aut ex. Ex maiores possimus, dolores ipsa, voluptatem placeat! Accusamus corrupti ipsa dicta quaerat, hic in deserunt aliquid repellat vero labore possimus suscipit, obcaecati quasi ut magni nesciunt minima libero. Veritatis excepturi odio nisi. Explicabo voluptas tempore deleniti impedit, numquam quia architecto obcaecati maxime reprehenderit error perspiciatis, ipsum dicta nam qui voluptate quos dignissimos.</p>
            </div>
        </section>

        <footer>
            <h5>get to know us!</h5>
            <h5>get our newsletter!</h5>
            <h5>get involved!</h5>
        </footer>
        
        
        <div id="featured">
            <a href="#" target="_blank">Free hugs!</a>    
        </div>